# {{ ansible_managed }}

*filter
-P INPUT ACCEPT
-P FORWARD ACCEPT
-P OUTPUT ACCEPT
{% if ansible_hostname == "secretboi" -%}
-A OUTPUT -m owner --uid-owner debian-transmission -o lo -j ACCEPT
-A OUTPUT -m owner --uid-owner debian-transmission -o tun0 -j ACCEPT
-A OUTPUT -m owner --uid-owner debian-transmission -d 10.0.0.0/16 -j ACCEPT
-A OUTPUT -m owner --uid-owner debian-transmission -j DROP
{% endif -%}
COMMIT
