# {{ ansible_managed }}

[global]
mangled names = no
map to guest = Bad User
log file = /var/log/samba/%m
log level = 1

[reckerdrive]
path = /data/drive
read only = no
guest ok = yes
browseable = yes

[downloads]
path = /data/downloads
read only = no
guest ok = yes
force user = alex
force group = alex
browseable = yes

[media]
path = /data/media
read only = yes
guest ok = yes
browseable = yes