# {{ ansible_managed }}
UUID=b9cd814a-3e52-4945-ab37-4367aca888c1 /               ext4    errors=remount-ro 0       1
UUID=45534d2a-2300-4681-b9ff-9e67456d1338 none            swap    sw              0       0
